@model ShopMaar.Models.OpenWeather.OpenWeatherViewModel
<h1>City</h1>
<div class="container">
    <div class="form-group col-md-3">
        <h2>WOWIE OPEN WEATHER WOWW1123124</h2>
        <marquee>HORRAY HORRAY IT'S TIME FOR A FORAY</marquee>
        <hr />
        <dl class="row">
            <div class="form-group-row">
                <label asp-for="Main" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Main)
            </div>
            <div class="form-group-row">
                <label asp-for="Sunrise" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Sunrise)
            </div>
            <div class="form-group-row">
                <label asp-for="Sunset" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Sunset)
            </div>
            <div class="form-group-row">
                <label asp-for="Moonrise" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Moonrise)
            </div>
            <div class="form-group-row">
                <label asp-for="Moonset" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Moonset)
            </div>
            <div class="form-group-row">
                <label asp-for="MoonPhase" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.MoonPhase)
            </div>
            <div class="form-group-row">
                <label asp-for="Description" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Description)
            </div>
            <div class="form-group-row">
                <label asp-for="Summary" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Summary)
            </div>
            <div class="form-group-row">
                <label asp-for="Date" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Date)
            </div>
            <div class="form-group-row">
                <label asp-for="Timezone" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Timezone)
            </div>
            <div class="form-group-row">
                <label asp-for="Pressure" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Pressure)
            </div>
            <div class="form-group-row">
                <label asp-for="Humidity" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Humidity)
            </div>
            <div class="form-group-row">
                <label asp-for="DewPoint" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.DewPoint)
            </div>
            <div class="form-group-row">
                <label asp-for="WindSpeed" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.WindSpeed)
            </div>
            <div class="form-group-row">
                <label asp-for="WindDegree" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.WindDegree)
            </div>
            <div class="form-group-row">
                <label asp-for="WindGust" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.WindGust)
            </div>
            <div class="form-group-row">
                <label asp-for="Clouds" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Clouds)
            </div>
            <div class="form-group-row">
                <label asp-for="Pop" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Pop)
            </div>
            <div class="form-group-row">
                <label asp-for="Rain" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Rain)
            </div>
            <div class="form-group-row">
                <label asp-for="Uvi" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Uvi)
            </div>
            <div class="form-group-row">
                <label asp-for="Day" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Day)
            </div>
            <div class="form-group-row">
                <label asp-for="Minimum" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Minimum)
            </div>
            <div class="form-group-row">
                <label asp-for="Maximum" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Maximum)
            </div>
            <div class="form-group-row">
                <label asp-for="Night" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Night)
            </div>
            <div class="form-group-row">
                <label asp-for="Eve" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Eve)
            </div>
            <div class="form-group-row">
                <label asp-for="Morning" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Morning)
            </div>
            <div class="form-group-row">
                <label asp-for="FeelDay" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.FeelDay)
            </div>
             <div class="form-group-row">
                <label asp-for="FeelNight" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.FeelNight)
            </div>
            <div class="form-group-row">
                <label asp-for="FeelEve" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.FeelEve)
            </div>
            <div class="form-group-row">
                <label asp-for="FeelMorning" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.FeelMorning)
            </div>
            <div class="form-group-row">
                <label asp-for="Id" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Id)
            </div>
            <div class="form-group-row">
                <label asp-for="Icon" class="col-sm-7 col-form-label"></label>
                @Html.DisplayFor(model => model.Icon)
            </div>
        </dl>

    </div>
</div>